@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bs-body-bg: #d3b1c1 !important;
  --bs-gradient: linear-gradient(
    to top,
    rgb(186, 51, 101),
    pink,
    transparent
  ) !important;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #000 !important;
}

body {
  font-family: var(--font-raleway);
}

/* Barra de pesquisa */
.search {
  background: var(--bs-primary);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  color: #333 !important;
}

.search input::placeholder {
  color: #333 !important;
}

/* Mensagem de busca vazia */
.empty {
  color: #757575;
}

/* Responsividade */
@media (max-width: 600px) {
  .search {
    width: 100%;
    padding: 1rem;
  }
  .search input {
    font-size: 1rem;
  }
  .search img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
  .container {
    margin-top: 2rem;
  }
}

.bg-custom {
  background-color: #ffbcd9 !important;
}
